html, body{
    margin: 0;
    padding: 0;
    background-color: #0D1A2D;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container .card {
    background-color: #15273F;
    width: 250px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: all 0.30s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); 
}

/* Card head */

.imagen img {
    display: block;
    margin: 13px auto;
    border-radius: 8px;
}

.container .card img {
    width: 220px;
    height: 220px;
}

/* Card  body*/

.container .card h4 {
    font-size: 18px;
    padding-left: 15px;
    margin: 0;
}

.container .card p {
    padding-left: 16px;
    font-size: 13px;
}

.colortext1 p {
    color: #707b88;
}

.eth {
    margin: 0;
    padding: 0;
    display: flex;
}

.eth img {
    padding-left: 16px;
    max-width: 10px;
    max-height: 15px;
}

.eth p {
    margin: 0;
    margin-left: -14px;
    color: aqua ;
}

.clock {
    margin: 0;
    padding-left: 40px;
    padding: 0;
    display: flex;
}

.clock img {
    max-width: 14px;
    max-height: 14px;
    padding-left: 60px;
    padding-bottom: 12px;
}

.clock p {
    margin: 0;
    margin-top: -1px;
    margin-left: -14px;
    color: #707b88;
    padding-bottom: 12px;
}

/* Card foot */


.creator {
    display: flex;
}

.creator img {
    margin: 0;
    max-width: 40px;
    max-height: 40px;
    padding-left: 14px;
    padding-top: 9px;
}

.creator p {
    padding-top: 9px;
    padding-left: -10px; 

}